div{
    background-color: bisque;
    width: 50%;
    height: 50%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    
    font-family: Helvetica, sans-serif;
    justify-content: center;
    display: grid;
    align-items: center;

}

.dolares{
    color: red; 
    display: inline-flex;
}

#label_monto_caja, #label_monto_cliente{
    margin-left: 5px;
}

